.App{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    width: 100%;
}

.page-wrappers{
    height: 100%;
    width: 100%;
    margin-top: 90px;
    margin-left: 300px;
}


