.sidebar {
  height: 100vh;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: rgb(22, 24, 25);
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar .sidebar__logodiv {
  height: 150px;
  width: 100%;
  display: grid;
  place-content: center;
}
.sidebar .sidebar__logodiv .sidebar__logodiv__img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sidebar .sidebar__nav {
  color: wheat;
  position: relative;
}
.sidebar .sidebar__nav a {
  text-decoration: none;
  color: wheat;
}
.sidebar .sidebar__nav .sidebar__nav__navitems {
  height: 50px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
}
.sidebar .sidebar__nav .sidebar__nav__navitems:hover::before {
  background-color: rgb(45, 49, 51);
}
.sidebar .sidebar__nav .sidebar__nav__navitems::before {
  width: 90%;
  height: 100%;
  position: absolute;
  z-index: -1;
  content: "";
  background-color: none;
}
.sidebar .sidebar__nav .sidebar__nav__navitems :first-child {
  margin: 0px 10px 0px 10px;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.loading-page_animelement {
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 25px 27px;
  grid-template-rows: 1fr 1.5fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
}

.vertical-rectangle {
  background-color: blueviolet;
  grid-row-start: 1;
  grid-row-end: 3;
}

.small-square {
  background-color: blueviolet;
  grid-row-start: 1;
  grid-row-end: 2;
}

.big-square {
  background-color: blueviolet;
  grid-row-start: 2;
  grid-row-end: 3;
}

.inside-box {
  background-color: gray;
  height: 0px;
  width: 100%;
}

.inside-box.animateIt {
  height: 100%;
  transition: height;
  transition-duration: 5s;
}

.inside-box.alternateAnimateIt {
  background-color: gray;
  height: 0px;
  transition: height;
  transition-duration: 5s;
}

.dashboard {
  min-height: calc(100vh - 90px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: red;
}

.tables {
  width: calc(100% - 300px);
  height: 100%;
}

.cards-container {
  height: 100%;
  min-height: calc(100vh - 90px);
  width: 100%;
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 10px;
}

.cardspage__heading {
  padding: 10px;
}

.leftimg-card {
  height: 200px;
  width: 500px;
  display: flex;
  border: 1px solid rgb(222, 226, 230);
  margin: 10px;
}
.leftimg-card .cardsimage__container {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.leftimg-card .cards__img {
  height: 100%;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.leftimg-card .cards__info span {
  text-align: left;
}
.leftimg-card .cards__info__title {
  display: block;
  padding: 10px;
}
.leftimg-card .cards__info__content {
  display: block;
  padding: 10px;
}

.rightimg-card {
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgb(222, 226, 230);
  margin: 10px;
}
.rightimg-card .cardsimage__container {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.rightimg-card .cards__img {
  height: 100%;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rightimg-card .cards__info {
  width: calc(100% - 150px);
}
.rightimg-card .cards__info span {
  text-align: left;
}
.rightimg-card .cards__info__title {
  display: block;
  padding: 10px;
}
.rightimg-card .cards__info__content {
  display: block;
  padding: 10px;
}

.topimg-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 226, 230);
  margin-left: 10px;
}
.topimg-card .cardsimage__container {
  height: 200px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
}
.topimg-card .cards__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topimg-card .cards__info span {
  text-align: left;
}
.topimg-card .cards__info__title {
  display: block;
  padding: 10px;
}
.topimg-card .cards__info__content {
  display: block;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */